{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    Importer un nouveau relevé de compte
{% endblock %}

{% block main %}
    {{ form(form) }}

    {% if statement %}
        <h2>Statement Preview</h2>
        {% include 'admin/statement/view.html.twig' with {'statment': statement} %}

    {% endif %}
{% endblock %}