{% set url = ea_url()
    .setController('App\\Controller\\Admin\\TransactionCrudController')
    .setEntityId(entity.primaryKeyValue)
    .setAction('detail') %}

<a href="{{ url }}">
    {{ entity.instance.details|nl2br }}
</a>
