{% for expense in value %}
    <a href="{{ path('easyadmin', {'entity': 'Expense', 'id': expense.id, 'action': 'show'}) }}">
    {% if expense.category %}
       {{ expense.category.name }}
    {% else %}
        /!\ {{ expense.label }}
    {% endif %}
    </a>
    : {{ expense.getAmount }}<br>
{% endfor %}