{% set url = ea_url()
        .setController('App\\Controller\\Admin\\TransactionCrudController')
        .setEntityId(entity.primaryKeyValue)
        .setAction('toggleIgnoreAction') %}

<a href="{{ url }}">
    {% if entity.instance.ignore %}
        Dé-ignorer cette transaction
    {% else %}
        Ignorer cette transaction
    {% endif %}
</a>