{% set url = ea_url()
    .setController('App\\Controller\\Admin\\ExpenseCrudController')
    .setEntityId(entity.primaryKeyValue)
    .setAction('detail') %}

<a href="{{ url }}">
    {% if entity.instance.transaction is not null %}
        {{ entity.instance.transaction.details|nl2br }}
    {% endif %}
</a>