{% set url = ea_url()
    .setController('App\\Controller\\Admin\\BudgetCrudController')
    .setEntityId(entity.primaryKeyValue)
    .setAction('detail') %}

<a href="{{ url }}">
    {{ entity.instance.name }}
</a>